/*----------Main, contenedor y asi-------------*/
.main_registro_hemerografia {
  background-image: url(../../public/img/fondo2.jpg);
  height: 100%;
  min-height: 600px;
  display: flex;
  justify-content: center;
  border-top: 4px solid #800;

}
.contenedor_registro_hemerografia{
  max-width: 95%;
  min-width: 95%;
  padding: 20px;
  height: 2000px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  text-align: left;

}
.contenedor_registro_hemerografia h2{
  text-align: center;
  font-size: 40px;
  color: #0672A8;
}
.contenedor_registro_hemerografia h1{
  color: #0672A8;
}
/*---------------------------------------Div 1-----------------------------*/
.form_hemerografia{
  height: 100%;
} 
.divisor_form_hemerografia_1{
  clear: both;
  color: #0672A8;
  width: 100%;
  height: 200px;
}

#periodico_hemerografia{
  margin-top: 40px;
  max-width:  40%;
  min-width:  40%;
  height: 50px;
}
#periodico_hemerografia label{
  padding-bottom: 5px;
  margin-right: 3px;
}
#periodico_hemerografia input{
  max-width:  78%;
  min-width:  78%;
}
#numero_edicion_hemerografia{
  max-width: 200px;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 0px;
  text-align: center;
}


#numero_edicion_hemerografia Input{
  display: block;
  float: left;
  max-width: 40%;
  min-width: 40%;
  padding-left: 10px;
  margin-top: 5px; /* Add some margin to separate the input from the label */
}

#encabezado_hemerografia{
  max-width: 100%;
  min-width: 100%;
  margin-left: 5px;
}
#encabezado_hemerografia input{
  max-width: 90%;
  min-width: 90%;
}
#autor_hemerografia {
  max-width: 30%;
  min-width: 30%;
}
#autor_hemerografia label{
  margin-right: 5px;
}
#autor_hemerografia input{
  max-width: 80%;
  min-width: 80%;
  padding: 10px;
  margin-left: 20px;  
}
#seudonimo_hemerografia{
  max-width: 34%;
  min-width: 34%;
  margin-right: 7px;
}
#seudonimo_hemerografia input{
  max-width: 70%;
  min-width: 70%;
  margin-right: 0px;
}
#seccion_hemerografia{
  max-width: 33%;
  min-width: 33%;
  margin-right: 7px;
}
#seccion_hemerografia input{
  max-width: 75%;
  min-width: 75%;
}
@media (max-width: 1442px) {
  #numero_edicion_hemerografia{
    max-width: 100px;
    min-width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 0px;
    text-align: center;
  }
  
  
  #numero_edicion_hemerografia Input{
    display: block;
    float: left;
    max-width: 70%;
    min-width: 70%;
    padding-left: 10px;
    margin-top: 5px; /* Add some margin to separate the input from the label */
  }
  #encabezado_hemerografia input{
    max-width: 87%;
    min-width: 87%;
  }
}
@media (max-width: 1384px) {

  #periodico_hemerografia input{
    max-width: 70%;
    min-width: 70%;
  }
}
/*---------------------------------------Div 2-----------------------------*/

.divisor_form_hemerografia_2{
  clear: both;
  color: #0672A8;
  width: 100%;
  height: 170px;
  display: block;
  float: left;
}
@media (max-width: 1442px) {
  .divisor_form_hemerografia_2{
    clear: both;
    color: #0672A8;
    width: 100%;
    height: 250px;
  }
}
#paginas_hemerografia{
  float: left;
  clear: both;
  width: 30%;
}
#paginas_hemerografia label{
  margin-right: 5px;
}

#paginas_hemerografia input{
  max-width: 72%;
  min-width: 72%;

}
#columnas_hemerografia{
  width: 30%;
  float: left;
}
#columnas_hemerografia label{
  margin-right: 5px;
}
#columnas_hemerografia input{
  max-width: 70%;
  min-width: 70%;
}
#genero_hemerografia{
  width: 40%;
  float: left;
}
#genero_hemerografia label{
  margin-right: 5px;
}
#genero_hemerografia input{
  max-width: 60%;
  min-width: 60%;
}
#lugar_publicacion_hemerografia{
  width: 60%;
  margin-right: 7px;
}
#lugar_publicacion_hemerografia label{
  margin-right: 5px;
}
#lugar_publicacion_hemerografia input{
max-width: 73%;
min-width: 73%;
}
#imagenes_hemerografia{

  margin-left: 0%;
  margin-right: 35px;
}
#edicion_hemerografia{
  padding-bottom: 5px;
}
#edicion_hemerografia select{
  padding: 0px;
  padding-bottom: 9px;
  padding-top: 9px;
}
/*---------------------------------------Div 3-----------------------------*/
.divisor_form_hemerografia_3{
  clear: both;
  color: #0672A8;
  width: 100%;
  height: 570px;
}
#resumen_hemerografia{
  width: 50%;
  
}

#resumen_hemerografia textarea{
  max-width: 95%;
  min-width: 95%;
  min-height: 100px;
  box-shadow: 0px 0px 3px #0672A8;
  font-family: PoiretOne;
  text-align: left;
  font-size: 18px;
  border-radius: 10px;
  border: 0px;
  padding: 10px;
  outline: none;
}
#resumen_hemerografia textarea:focus {
  box-shadow: 0px 0px 3px #800;

}
.botonesIA_resumen_hemerografia{
  display: block;
  float: right;
  position: relative;
  width: 70px;
  height: 35px;
  padding-right: 0px;
  text-align: center;
}
#resumen_hemerografia p{
  display: block;
  float: left;
  text-align: center;
  margin-left: 45%;
  font-family: PoiretOne;
  font-size: 20px;
}
.botonesIA_resumen_hemerografia img{
  width: 20px;
  transition: all 30ms;
  box-shadow: 0px 0px 3px #c109d2;
  padding: 4px;
  border-radius: 10px;
}
.botonesIA_resumen_hemerografia :hover img{
  width: 21px;
}
.botonesIA_resumen_hemerografia :hover{
  cursor: pointer;
  width: 25px;
}
#pendientes_hemerografia{
  width: 50%;
  
}

#pendientes_hemerografia textarea{
  max-width: 95%;
  min-width: 95%;
  min-height: 100px;
  box-shadow: 0px 0px 3px #0672A8;
  font-family: PoiretOne;
  text-align: left;
  font-size: 18px;
  border-radius: 10px;
  border: 0px;
  padding: 10px;
  outline: none;
}
#pendientes_hemerografia textarea:focus {
  box-shadow: 0px 0px 3px #800;

}
#pendientes_hemerografia p{
  display: block;
  float: left;
  text-align: center;
  margin-left: 45%;
  font-family: PoiretOne;
  font-size: 20px;
  height: 35px;
}
#transcripcion_hemerografia{
  width: 100%;
}

#transcripcion_hemerografia textarea{
  max-width: 97%;
  min-width: 97%;
  min-height: 100px;
  box-shadow: 0px 0px 3px #0672A8;
  font-family: PoiretOne;
  text-align: left;
  font-size: 18px;
  border-radius: 10px;
  border: 0px;
  padding: 10px;
  outline: none;
}
#transcripcion_hemerografia textarea:focus {
  box-shadow: 0px 0px 3px #800;

}
#transcripcion_hemerografia p{
  display: block;
  float: left;
  text-align: center;
  margin-left: 45%;
  font-family: PoiretOne;
  font-size: 20px;
  height: 35px;
}
#coleccion_hemerografia{
  max-width: 30%;
  min-width: 30%;
  margin-right: 7px;
}
#coleccion_hemerografia input{
  max-width: 70%;
  min-width: 70%;
}

#tema_hemerografia{
  margin-top: 0px;
  max-width: 25%;
  min-width: 25%;
  margin-right: 0px;
}
#tema_hemerografia input{
  max-width: 80%;
  min-width: 80%;
}

/*---------------------------------------Div 1-----------------------------*/
.botonesIA{
  display: block;
  float: right;
  position: relative;
  width: 30px;
  height: 50px;
  padding-right: 0px;
}
.botonesIA img{
  width: 20px;
  transition: all 30ms;
  box-shadow: 0px 0px 3px #c109d2;
  padding: 4px;
  border-radius: 10px;
}
.botonesIA :hover img{
  width: 21px;
}
.botonesIA :hover{
  cursor: pointer;
  width: 25px;
}
.mensajes_peticiones{
  min-height: 150px;
}
.mensajes{
  margin-top: 16px;
  width: 22%;
  display: block;
  float: left;
  min-height: 120px;
  padding: 5px;
  margin-right: 15px;
  box-shadow: 0px 0px 3px #0672A8;
  border-radius: 15px;
  text-align: center;
}
#saved_text{
  color: #0672A8;
  font-family: PoiretOne;
  margin-left: 0px;
  font-size: 22px;


}

#error_text{
  text-align: center;
  color: #800;
  font-family: PoiretOne;
  margin-left: 0px;
  font-size: 22px;


}
.mensajes h4 {
  font-family: PoiretOne;
  font-size: 20px;
}
.mensajes p {
  font-family: PoiretOne;
  font-size: 18px;
}

.images-preview{
  width: 40%;
  min-height: 200px;
  display: block;
  float: left;
}
.image-preview .marco2 img{
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  max-width: 200px;
  text-align: center;
  margin: 10px;
  display: block;
  float: left;
  max-height: 200px;
  box-shadow: 0px 0px 5px #0672A8;
  border-radius: 15px;
}

.pdf-preview {
  display: block;
  float: right;
  margin-top: 0px;
  width: 60%;
}
.pdf-container{
  width: 49%;
  display: block;
  float: right;
  margin-right: 3px;
}

.pdf-preview p {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

/* Estilos generales para ocultar el modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

/* Mostrar el modal cuando esté activo */
.modal.show {
  display: flex;
}

/* Estilos para el contenido del modal */
.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  width: 550px;
  max-width: 90%;
  text-align: center;
  box-shadow: 0px 0px 6px #c109d2;
  min-height: 350px;
}
.modal-content h2{
  color: #c109d2;
  font-family: PoiretOne;
}
.textarea_editar_prompt{
  display: block;
  float: left;
  width: 50%;
}
/* Estilos para el textarea */
/* Estilos para el textarea */
.textarea_editar_prompt textarea {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #c109d2;
  border-radius: 4px;
  font-size: 14px;
  box-shadow: 0px 0px 6px #c109d2;
  width: 50%; /* Ajusta el ancho del textarea */
  height: 250px; /* Ajusta la altura del textarea */
  
  text-align: left;
  font-family: PoiretOne;
  font-size: 18px;
}


/* Botones dentro del modal */
.modal-buttons {
  width: 530px;
  margin-top: 40px;
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
}

.modal-buttons button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.modal-buttons button:first-child {
  background-color: #c109d2;
  color: white;
}

.modal-buttons button:last-child {
  background-color: #dc3545;
  color: white;
}
.image-preview_editar_prompt{
  width: 250px;
  min-height: 200px;
  display: block;
  float: left;
}
.image-preview_editar_prompt .marco2 img{
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  max-width: 200px;
  text-align: center;
  margin: 10px;
  display: block;
  float: left;
  max-height: 200px;
  box-shadow: 0px 0px 5px #c109d2;
  border-radius: 15px;
}
.contenido_editar_prompt{
  height: 300px;
  clear: both;
}
.form-group {
  position: relative; /* Hace que los elementos hijos con position: absolute se posicionen en relación a este contenedor */
}
.sugerencias-list {
  position: absolute;
  top: 100%; /* Coloca la lista justo debajo del input */
  left: 0;
  right: 0;
  background-color: white; /* Fondo blanco para la lista */
  border: 1px solid #ccc; /* Borde para definir la lista */
  z-index: 1000; /* Asegura que la lista esté por encima de otros elementos */
  max-height: 200px; /* Limita la altura de la lista si es necesario */
  overflow-y: auto; /* Añade scroll si la lista es demasiado larga */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Añade sombra para darle un efecto de flotación */
  list-style-type: none; /* Elimina los puntos de lista por defecto */
  padding: 0;
  margin: 0; /* Elimina los márgenes para que la lista se alinee correctamente */
}

.sugerencias-list li {
  padding: 8px 12px; /* Espaciado interno para los ítems de la lista */
  cursor: pointer; /* Cambia el cursor para indicar que es interactivo */
}
